.page-projet
    h1
        position fixed
        font-size 100px
        top 120px
        margin-left 5%
        text-transform uppercase
        font-family MaisonNeue
        letter-spacing 15px
        font-weight 400
        @media mobile 
            font-size 50px
        button
            position relative
            top -40px
            left 15px
            outline none 
            border none 
            background none
            cursor pointer
            font-family MaisonNeue
            font-size 75px
    .hidden 
        background white
        font-size 24px
        position fixed
        display flex
        justify-content center
        flex-direction column
        animation appear 0.8s ease
        bottom 0
        width 100%
        padding 30px
        p
            color black
            max-width 90%
        .title
            text-transform uppercase
            margin-bottom 20px
    .container-images
        width 100%
        height auto
        display flex
        align-items center
        justify-content center
    img 
        max-width 100%
        width 100%
        height auto
        margin-bottom 5px


@keyframes appear {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: 0px;
  }
}

    