@font-face
   font-family SangBleuEmpire
   src   local("SangBleuEmpire"),   
         url(/src/css/font/SangBleuEmpire-Regular.otf) format('otf')


@font-face
   font-family MaisonNeue
   src   local("MaisonNeue-Book"),
         url(/src/css/font/MaisonNeue-Book.ttf) format('ttf')

$font-content = MaisonNeue, sans-serif


tablet = "only screen and (max-width: 1012px)"
tablet-up = "only screen and (min-width: 1013px)"
mobile = "only screen and (max-width: 748px)"
mobile-up = "only screen and (min-width: 749px)"