@font-face
   font-family SangBleuKingdom
   src   local("SangBleuKingdom"),   
         url(/src/font/SangBleuKingdom-Regular.otf) format('otf')
   font-style normal

$font-title = SangBleuKingdom, sans-serif

@font-face
   font-family MaisonNeue
   src   local("MaisonNeue-Book"),
         url(/src/font/MaisonNeue-Book.ttf) format('ttf')
   font-style normal

$font-content = MaisonNeue, sans-serif

@font-face
   font-family font-test
   src local("AvenirNextCondensed-DemiBold"), 
      url(/src/font/AvenirNextCondensed-DemiBold.ttf) format('ttf')
   font-style normal

$font-test = AvenirNextCondensed-DemiBold, sans-serif


