@font-face
   font-family SangBleuEmpire
   src   local("SangBleuEmpire-Regular"),   
         url(/src/css/font/SangBleuEmpire-Regular.ttf) format('ttf')


@font-face
   font-family MaisonNeue
   src   local("MaisonNeue-Book"),
         url(/src/css/font/MaisonNeue-Book.ttf) format('ttf')

$font-content = MaisonNeue, sans-serif


tablet = "only screen and (max-width: 1012px)"
mobile = "only screen and (max-width: 748px)"
